:root {
    /*--text-color: beige;*/
    --text-color: #fff0e2;
    --background-color: #14141c;
    /*--main-strip-color: #482518;*/
    /*341b10*/
    --main-strip-color: #260f01;
}

/*  #14141c
    #4c281b
    #482518
    #7f5343
    #5187ad
*/

body {
    background-color: var(--main-strip-color);
    padding: 0;
    margin: 0;
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

header {
    background-color: var(--main-strip-color);
}

.header__nv {
    text-align: center;
    padding: 0;
    margin: 2rem 0 1rem 0;
}

.header__nv__text {
    text-decoration: none;
}

.header__lipina--text {
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0.5rem 0 0.7rem 0;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 0.5rem 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.nav__item {
    text-align: right;
    padding: 0 1rem;
    display: none;
    text-decoration: none;
    list-style: none;
}

.nav__item:first-child {
    display: unset;
}

.nav__item-separator {
    display: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    border-color: var(--text-color);
    border-style: solid;
    border-radius: 4px;
    border-width: 0.05rem;
}

.hamburger__part {
    border-width: 0 0 0.15rem 0;
    border-style: solid;
    border-color: var(--text-color);
    padding: 0.05rem;
}

@media screen and (min-width: 500px) {
    body {
        background-color: var(--background-color);
    }

    header {
        background-color: var(--background-color);
        display: grid;
        grid-template-columns: 0 10px auto 10px 0;
        grid-template-rows: 100px 55px 70px;
    }

    .header__nv {
        text-align: center;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .header__lipina {
        text-align: center;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .footer {
        text-align: center;
    }

    .navigation {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .nav {
        width: 100%;
    }

    .nav__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav__item {
        display: unset;
        text-decoration: none;
        list-style: none;
        padding: 0.5rem 0.5rem;
        border-style: solid;
        border-width: 0 0 0.1rem 0;
        border-bottom-color: transparent;
    }

    .nav__item:hover {
        border-bottom-color: var(--text-color);
    }

    .nav__item-separator {
        display: unset;
        list-style: none;
        height: 2.5rem;
        width: 0.1rem;
        border-width: 0 0.1rem 0 0;
        border-style: solid;
        border-right-color: var(--text-color);
    }

    .header-background {
        background-color: var(--main-strip-color);
        grid-column: 2 / 5;
        grid-row: 1 / 4;
    }



    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .nav__item {
        padding: 0.5rem 1rem;
    }

    header {
        grid-template-columns: 0 auto 550px auto 0;
    }
}

@media screen and (min-width: 700px) {
    .nav__item {
        padding: 0.5rem 1.5rem;
    }

    header {
        grid-template-columns: 0 auto 650px auto 0;
    }
}

@media screen and (min-width: 800px) {
    header {
        grid-template-columns: 0 auto 750px auto 0;
    }
}

@media screen and (min-width: 900px) {
    header {
        grid-template-columns: 0 auto 800px auto 0;
    }
}

@media screen and (min-width: 1000px) {
    .nav__item {
        padding: 0.5rem 2rem;
    }

    header {
        grid-template-columns: auto 100px 800px 100px auto;
    }
}