:root {
    --text-color: beige;
    --background-color: #14141c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.header__nv {
    text-align: center;
    padding: 0;
    margin: 2rem 0 1rem 0;
}

.header__nv__text {
    text-decoration: none;
}

.header__lipina {
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0.5rem 0 0.7rem 0;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 0.5rem 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.nav__item {
    text-align: right;
    padding: 0 1rem;
    display: none;
    text-decoration: none;
    list-style: none;
}

.nav__item:first-child {
    display: unset;
}

.nav__item-separator {
    display: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    border-color: var(--text-color);
    border-style: solid;
    border-radius: 4px;
    border-width: 0.05rem;
}

.hamburger__part {
    border-width: 0 0 0.15rem 0;
    border-style: solid;
    border-color: var(--text-color);
    padding: 0.05rem;
}

@media screen and (min-width: 500px) {
    header {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-rows: 85px 55px 70px;
    }

    .header__nv {
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .header__lipina {
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .footer {
        text-align: center;
    }

    .navigation {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .nav {
        width: 100%;
    }

    .nav__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav__item {
        display: unset;
        text-decoration: none;
        list-style: none;
        padding: 0.5rem 0.5rem;
        border-style: solid;
        border-width: 0 0 0.1rem 0;
        border-bottom-color: transparent;
    }

    .nav__item:hover {
        border-bottom-color: var(--text-color);
    }

    .nav__item-separator {
        display: unset;
        list-style: none;
        height: 2.5rem;
        width: 0.1rem;
        border-width: 0 0.1rem 0 0;
        border-style: solid;
        border-right-color: var(--text-color);
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .nav__item {
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 700px) {
    .nav__item {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: auto 750px auto;
    }
}


@media screen and (min-width: 900px) {
    .nav__item {
        padding: 0.5rem 2rem;
    }

    header {
        display: grid;
        grid-template-columns: auto 800px auto;
    }
}