.welcome-photo {
    width: 100%;
}

.main-background {
    background-color: var(--main-strip-color);
}

@media screen and (min-width: 500px) {
    main {
        display: grid;
        grid-template-columns: 0 auto auto auto 0;
        grid-template-rows: auto;
    }

    .main-block {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .main-background {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }
}

@media screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: auto 50px 900px 50px auto;
    }
}